* {
    font-family: 'Roboto', sans-serif;
    color: #fafafa;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #001F3F;
    display: flex;
}

.teste {
    color: #151C48;
    color: #00A1D7;
    color: #3B70A2;
}

.aside-container {
    width: 20%;
    height: 100%;
    background: #151C48;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
    box-shadow: inset -5px -5px 20px 10px #695acd0e;
    border-right: 5px solid #3B70A2;
}

.aside-title {
    margin-top: 1.5em;
    font-size: calc(1vw + 1em);
}

.aside-personal-photo{
    width: 50%;
    border-radius: 50%;
}

.aside-about {
    width: 90%;
    text-align: center;
    font-size: calc(0.5vw + 0.5em);
}

.aside-welcome {
    width: 90%;
    text-align: center;
    font-size: calc(0.7vw + 0.5em);
}

.aside-social-media-container {
    width: 90%;
    display: flex;
    justify-content: center;
    gap: 2em;
}

.aside-social-media-container li img {
    width: calc(1.5vw + 1em);
}

.aside-social-media-container li img:hover {
    cursor: pointer;
    filter: drop-shadow(0px 0px 5px #3B70A2);
}

.aside_line {
    width: 90%;
    height: 1px;
    background: #3B70A2
}

.aside-email {
    width: fit-content;
    font-size: calc(0.5vw + 0.5em);
    display: flex;
    align-items: center;
    gap: 10px;
}

.aside-email img {
    width: calc(0.7vw + 0.7em);
}

.main-container {
    width: 70%;
    padding-top: 3em;
    display: flex;
    flex-direction: column;
    padding-left: calc(2em + 1vw);
    gap: 2em;
}

.main-article {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.main-article-title {
    width: 100%;
    text-align: left;
    font-size: calc(1.5vw + 1.5em);
}

.main-article-subtitle {
    width: 100%;
    text-align: left;
    font-size: calc(1vw + 1em);
}

.main-article-text {
    width: 80%;
    font-size: calc(0.5vw + 0.5em);
}

.main-article-button {
    width: calc(6em + 6vw);
    height: calc(2em + 2vw);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #00A1D7;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.main-article-button:focus {
    outline: none;
}

.main-article-button:hover {
    filter: drop-shadow(0px 0px 5px #3B70A2);
}

.main-article-button img {
    width: 2em;
}

.main-article-button p {
    font-size: calc(0.6vw + 0.6em);
    font-weight: 600;
}

.main-line {
    width: 90%;
    height: 2px;
    background-color: #3B70A2;
}

.main-section {
    width: 90%;
}

.main-section-title {
    font-size: calc(1.2vw + 1.2em);
}

.main-section-span {
    font-size: calc(0.6vw + 0.6em);
}

.main-section-tech-container {
    margin-top: 1em;
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
}

.main-section-tech-container li {
    width: 30%;
}

.main-section-tech-container h3 {
    padding-left: 0.5em;
    border-left: 5px solid #3B70A2;
    font-size: calc(0.8vw + 0.8em);
    margin-bottom: 0.5em;
}

.main-section-tech-container li div {
    width: 70%;
    display: flex;
    align-items: center;
    gap: 2em;
}

.main-section-tech-container i {
    font-size: calc(1.5vw + 1.5em);
}
